    <footer id="footer-content" class="bg-grau">
      <div id="footer">
        <div class="row">
          <div class="footer-panel">
            <h2>Acknowledgements</h2>
            <p><em>Dockstader on Dockstader</em>, most of the <em>Composition notes</em> and two reviews from the CD releases &copy; <a href="http://www.starkland.com/">Starkland</a> 1992/3. Used by Permission. This material is provided for the private use of individual web site visitors and must not be used or reproduced in any other manner without the prior written consent of Starkland.</p>
            <p>Many thanks to NOMEX for directing me towards Dockstader's music and to Howard Slater for his support, encouragement and contribution. Thanks also to Justin H Brierley for his work, <a href="http://johnjacobs.org/">John Jacobs</a> for cleaning up the audio on the 1963 WRVR interview, and <a href="https://github.com/jesusbagpuss">John Salter</a> for his contribution.</p>
            <p>This site has been constructed to disseminate information about Tod Dockstader - if you would like to contribute, contact me through <a href="{{ site.repourl }}">github</a>.</p>
          </div>
        </div>
      </div>
    </footer>
