html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    min-height: 100%;
    max-width: 50em;
    margin: 0 auto;
    padding: 0 0 20em 0;
    background: $bg;
    color: $fg;
    font-family: "Open Sans", sans-serif;
    font-size: 100%;
    font-style: normal;
    font-weight: normal;
    line-height: 150%;
}

a {
    color: $link;
    text-decoration: none;
}

a:hover,
a:focus,
a:active {
    color: $linkactive;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Libre Baskerville", serif;
    font-style: normal;
    font-weight: normal;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.17em;
}

h4 {
    font-size: 1.12em;
}

h5 {
    font-size: .83em;
}

h6 {
    font-size: .75em;
}

.hidden {
    display: none;
}