.grid {
    min-width: 230px;
    background: $cb-bg;
    color: $cb-fg;
    border: 1px solid $cb-border;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 1.7em;
    z-index: 1;

    .result-row {
        padding: 2px;
        cursor: default;
        margin: 0;

        &:hover {
            background: $cb-hoverbg;
            color: $cb-hoverfg;
        }

        .result-cell {
            display: inline-block;
            cursor: default;
            margin: 0;
            padding: 0 5px;

            .authTitle {
                font-weight: bold;
            }

            .useAuth {
                font-size: .8em;
                color: #666;
                text-transform: uppercase;
            }
        }
    }

    .focused {
        background: $cb-focusbg;
        color: $cb-focusfg;
    }

    .focused-cell {
        outline-style: dotted;
        outline-color: $cb-focusoutline;
    }
}